.container {
  margin-top: 40px;
}
.center {
  display: block;
  margin: auto;
  text-align: center;
}

.big-text {
  font-size: 190%;
}

.smaller {
  font-size: 120%;
}

img {
  width: 100%;
}

input[type=checkbox] {
 /* Double-sized Checkboxes */
 -ms-transform: scale(2); /* IE */
 -moz-transform: scale(2); /* FF */
 -webkit-transform: scale(2); /* Safari and Chrome */
 -o-transform: scale(2); /* Opera */
  width: 13px;
  height: 13px;
  padding: 0;
  margin-left: 10px;
  vertical-align: bottom;
  position: relative;
  top: -15px;
  *overflow: hidden;
}

#chartLegend {
  float: right;
  border: 1px solid black;
  padding: 5px;
}
