<div class="head-banner"></div>

<div class="page-wrapper">
  <p>Welcome <strong>{{ user.displayName }}</strong>!</p>

  <button>Start Reporting Period</button>

  <hr>

  <section class="user-list">
    <button type="button">Show Users</button>
    <ul>
      <li ng-repeat="user in users"><a href="admin#/u/{{ user._id }}">{{ user.number }}</a></li>
    </ul>
  </section>

  <hr>

  <section class="add-user">
    <button type="button">Add Cell Number</button>
  </section>

  <hr>

  <section class="send-message">
    <button type="button">Broadcast Message</button>
  </section>
</div>
