
<h1 class="center-text">Practice Tool</h1>

<div ng-show="gameover" class="alert alert-info">
  <p class="center-text"><b>The game is over! Please review the final decisions below.</b></p>
</div>

<div ng-show="waiting && !gameover" class="alert alert-danger">
  <p class="center-text"><b>Waiting for the competition to make a move</b></p>
</div>

<div ng-hide="!waiting" class="alert alert-success">
  <p class="center-text"><b>You may now make a move!</b></p>
</div>

<div class="chart-input">
  <div class="playerinputs">
    <h4>YOUR Decision</h4>
    <div class="periodDiv">
      <p>Period</p>
      <p>1</p>
      <p>2</p>
      <p>3</p>
      <p>4</p>
      <p>5</p>
      <p>6</p>
      <p>7</p>
      <p>8</p>
      <p>9</p>
      <p>10</p>
    </div>
    <div class="xDiv">
      <p class="center-text">Output</p>
      <div class="turninput">
        <button ng-click="decrementValue('p1x', 0)" ng-disabled="turn > 1" type="button" class="btn btn-default btn-left btn-lg">
          <span class="glyphicon glyphicon-minus glyphicon-large" aria-hidden="true"></span>
        </button>
        <p class="turn-value">{{ p1x[0] }}</p>
        <button ng-click="incrementValue('p1x', 0)" ng-disabled="turn > 1" type="button" class="btn btn-default btn-right btn-lg">
          <span class="glyphicon glyphicon-plus glyphicon-large" aria-hidden="true"></span>
        </button>
      </div>

      <div class="turninput">
        <button ng-click="decrementValue('p1x', 1)" ng-disabled="turn > 2" type="button" class="btn btn-default btn-left btn-lg">
          <span class="glyphicon glyphicon-minus glyphicon-large" aria-hidden="true"></span>
        </button>
        <p class="turn-value">{{ p1x[1] }}</p>
        <button ng-click="incrementValue('p1x', 1)" ng-disabled="turn > 2" type="button" class="btn btn-default btn-right btn-lg">
          <span class="glyphicon glyphicon-plus glyphicon-large" aria-hidden="true"></span>
        </button>
      </div>

      <div class="turninput">
        <button ng-click="decrementValue('p1x', 2)" ng-disabled="turn > 3" type="button" class="btn btn-default btn-left btn-lg">
          <span class="glyphicon glyphicon-minus glyphicon-large" aria-hidden="true"></span>
        </button>
        <p class="turn-value">{{ p1x[2] }}</p>
        <button ng-click="incrementValue('p1x', 2)" ng-disabled="turn > 3" type="button" class="btn btn-default btn-right btn-lg">
          <span class="glyphicon glyphicon-plus glyphicon-large" aria-hidden="true"></span>
        </button>
      </div>

      <div class="turninput">
        <button ng-click="decrementValue('p1x', 3)" ng-disabled="turn > 4" type="button" class="btn btn-default btn-left btn-lg">
          <span class="glyphicon glyphicon-minus glyphicon-large" aria-hidden="true"></span>
        </button>
        <p class="turn-value">{{ p1x[3] }}</p>
        <button ng-click="incrementValue('p1x', 3)" ng-disabled="turn > 4" type="button" class="btn btn-default btn-right btn-lg">
          <span class="glyphicon glyphicon-plus glyphicon-large" aria-hidden="true"></span>
        </button>
      </div>

      <div class="turninput">
        <button ng-click="decrementValue('p1x', 4)" ng-disabled="turn > 5" type="button" class="btn btn-default btn-left btn-lg">
          <span class="glyphicon glyphicon-minus glyphicon-large" aria-hidden="true"></span>
        </button>
        <p class="turn-value">{{ p1x[4] }}</p>
        <button ng-click="incrementValue('p1x', 4)" ng-disabled="turn > 5" type="button" class="btn btn-default btn-right btn-lg">
          <span class="glyphicon glyphicon-plus glyphicon-large" aria-hidden="true"></span>
        </button>
      </div>

      <div class="turninput">
        <button ng-click="decrementValue('p1x', 5)" ng-disabled="gameover" type="button" class="btn btn-default btn-left btn-lg">
          <span class="glyphicon glyphicon-minus glyphicon-large" aria-hidden="true"></span>
        </button>
        <p class="turn-value">{{ p1x[5] }}</p>
        <button ng-click="incrementValue('p1x', 5)" ng-disabled="gameover" type="button" class="btn btn-default btn-right btn-lg">
          <span class="glyphicon glyphicon-plus glyphicon-large" aria-hidden="true"></span>
        </button>
      </div>

      <div class="turninput">
        <button ng-click="decrementValue('p1x', 6)" ng-disabled="gameover" type="button" class="btn btn-default btn-left btn-lg">
          <span class="glyphicon glyphicon-minus glyphicon-large" aria-hidden="true"></span>
        </button>
        <p class="turn-value">{{ p1x[6] }}</p>
        <button ng-click="incrementValue('p1x', 6)" ng-disabled="gameover" type="button" class="btn btn-default btn-right btn-lg">
          <span class="glyphicon glyphicon-plus glyphicon-large" aria-hidden="true"></span>
        </button>
      </div>

      <div class="turninput">
        <button ng-click="decrementValue('p1x', 7)" ng-disabled="gameover" type="button" class="btn btn-default btn-left btn-lg">
          <span class="glyphicon glyphicon-minus glyphicon-large" aria-hidden="true"></span>
        </button>
        <p class="turn-value">{{ p1x[7] }}</p>
        <button ng-click="incrementValue('p1x', 7)" ng-disabled="gameover" type="button" class="btn btn-default btn-right btn-lg">
          <span class="glyphicon glyphicon-plus glyphicon-large" aria-hidden="true"></span>
        </button>
      </div>

      <div class="turninput">
        <button ng-click="decrementValue('p1x', 8)" ng-disabled="gameover" type="button" class="btn btn-default btn-left btn-lg">
          <span class="glyphicon glyphicon-minus glyphicon-large" aria-hidden="true"></span>
        </button>
        <p class="turn-value">{{ p1x[8] }}</p>
        <button ng-click="incrementValue('p1x', 8)" ng-disabled="gameover" type="button" class="btn btn-default btn-right btn-lg">
          <span class="glyphicon glyphicon-plus glyphicon-large" aria-hidden="true"></span>
        </button>
      </div>

      <div class="turninput">
        <button ng-click="decrementValue('p1x', 9)" ng-disabled="gameover" type="button" class="btn btn-default btn-left btn-lg">
          <span class="glyphicon glyphicon-minus glyphicon-large" aria-hidden="true"></span>
        </button>
        <p class="turn-value">{{ p1x[9] }}</p>
        <button ng-click="incrementValue('p1x', 9)" ng-disabled="gameover" type="button" class="btn btn-default btn-right btn-lg">
          <span class="glyphicon glyphicon-plus glyphicon-large" aria-hidden="true"></span>
        </button>
      </div>
    </div>
    <div class="iDiv">
      <p class="center-text">Investment</p>
      <div class="turninput">
        <button ng-click="decrementValue('p1i', 0)" ng-disabled="turn > 1" type="button" class="btn btn-default btn-left btn-lg">
          <span class="glyphicon glyphicon-minus glyphicon-large" aria-hidden="true"></span>
        </button>
        <p class="turn-value">{{ p1i[0].toPrecision(3) }}</p>
        <button ng-click="incrementValue('p1i', 0)" ng-disabled="turn > 1" type="button" class="btn btn-default btn-right btn-lg">
          <span class="glyphicon glyphicon-plus glyphicon-large" aria-hidden="true"></span>
        </button>
      </div>

      <div class="turninput">
        <button ng-click="decrementValue('p1i', 1)" ng-disabled="turn > 2" type="button" class="btn btn-default btn-left btn-lg">
          <span class="glyphicon glyphicon-minus glyphicon-large" aria-hidden="true"></span>
        </button>
        <p class="turn-value">{{ p1i[1].toPrecision(3) }}</p>
        <button ng-click="incrementValue('p1i', 1)" ng-disabled="turn > 2" type="button" class="btn btn-default btn-right btn-lg">
          <span class="glyphicon glyphicon-plus glyphicon-large" aria-hidden="true"></span>
        </button>
      </div>

      <div class="turninput">
        <button ng-click="decrementValue('p1i', 2)" ng-disabled="turn > 3" type="button" class="btn btn-default btn-left btn-lg">
          <span class="glyphicon glyphicon-minus glyphicon-large" aria-hidden="true"></span>
        </button>
        <p class="turn-value">{{ p1i[2].toPrecision(3) }}</p>
        <button ng-click="incrementValue('p1i', 2)" ng-disabled="turn > 3" type="button" class="btn btn-default btn-right btn-lg">
          <span class="glyphicon glyphicon-plus glyphicon-large" aria-hidden="true"></span>
        </button>
      </div>

      <div class="turninput">
        <button ng-click="decrementValue('p1i', 3)" ng-disabled="turn > 4" type="button" class="btn btn-default btn-left btn-lg">
          <span class="glyphicon glyphicon-minus glyphicon-large" aria-hidden="true"></span>
        </button>
        <p class="turn-value">{{ p1i[3].toPrecision(3) }}</p>
        <button ng-click="incrementValue('p1i', 3)" ng-disabled="turn > 4" type="button" class="btn btn-default btn-right btn-lg">
          <span class="glyphicon glyphicon-plus glyphicon-large" aria-hidden="true"></span>
        </button>
      </div>

      <div class="turninput">
        <button ng-click="decrementValue('p1i', 4)" ng-disabled="turn > 5" type="button" class="btn btn-default btn-left btn-lg">
          <span class="glyphicon glyphicon-minus glyphicon-large" aria-hidden="true"></span>
        </button>
        <p class="turn-value">{{ p1i[4].toPrecision(3) }}</p>
        <button ng-click="incrementValue('p1i', 4)" ng-disabled="turn > 5" type="button" class="btn btn-default btn-right btn-lg">
          <span class="glyphicon glyphicon-plus glyphicon-large" aria-hidden="true"></span>
        </button>
      </div>

      <div class="turninput">
        <button ng-click="decrementValue('p1i', 5)" ng-disabled="gameover" type="button" class="btn btn-default btn-left btn-lg">
          <span class="glyphicon glyphicon-minus glyphicon-large" aria-hidden="true"></span>
        </button>
        <p class="turn-value">{{ p1i[5].toPrecision(3) }}</p>
        <button ng-click="incrementValue('p1i', 5)" ng-disabled="gameover" type="button" class="btn btn-default btn-right btn-lg">
          <span class="glyphicon glyphicon-plus glyphicon-large" aria-hidden="true"></span>
        </button>
      </div>

            <div class="turninput">
        <button ng-click="decrementValue('p1i', 6)" ng-disabled="turn > 1" type="button" class="btn btn-default btn-left btn-lg">
          <span class="glyphicon glyphicon-minus glyphicon-large" aria-hidden="true"></span>
        </button>
        <p class="turn-value">{{ p1i[6].toPrecision(3) }}</p>
        <button ng-click="incrementValue('p1i', 6)" ng-disabled="turn > 1" type="button" class="btn btn-default btn-right btn-lg">
          <span class="glyphicon glyphicon-plus glyphicon-large" aria-hidden="true"></span>
        </button>
      </div>

            <div class="turninput">
        <button ng-click="decrementValue('p1i', 7)" ng-disabled="turn > 1" type="button" class="btn btn-default btn-left btn-lg">
          <span class="glyphicon glyphicon-minus glyphicon-large" aria-hidden="true"></span>
        </button>
        <p class="turn-value">{{ p1i[7].toPrecision(3) }}</p>
        <button ng-click="incrementValue('p1i', 7)" ng-disabled="turn > 1" type="button" class="btn btn-default btn-right btn-lg">
          <span class="glyphicon glyphicon-plus glyphicon-large" aria-hidden="true"></span>
        </button>
      </div>

      <div class="turninput">
        <button ng-click="decrementValue('p1i', 8)" ng-disabled="turn > 1" type="button" class="btn btn-default btn-left btn-lg">
          <span class="glyphicon glyphicon-minus glyphicon-large" aria-hidden="true"></span>
        </button>
        <p class="turn-value">{{ p1i[8].toPrecision(3) }}</p>
        <button ng-click="incrementValue('p1i', 8)" ng-disabled="turn > 1" type="button" class="btn btn-default btn-right btn-lg">
          <span class="glyphicon glyphicon-plus glyphicon-large" aria-hidden="true"></span>
        </button>
      </div>

      <div class="turninput">
        <button ng-click="decrementValue('p1i', 9)" ng-disabled="turn > 1" type="button" class="btn btn-default btn-left btn-lg">
          <span class="glyphicon glyphicon-minus glyphicon-large" aria-hidden="true"></span>
        </button>
        <p class="turn-value">{{ p1i[9].toPrecision(3) }}</p>
        <button ng-click="incrementValue('p1i', 9)" ng-disabled="turn > 1" type="button" class="btn btn-default btn-right btn-lg">
          <span class="glyphicon glyphicon-plus glyphicon-large" aria-hidden="true"></span>
        </button>
      </div>
    </div>
  </div>

  <div class="chart">
  </div>

  <div class="playerinputs">
    <h4>Competition Decision</h4>
    <div class="periodDiv">
      <p>Period</p>
      <p>1</p>
      <p>2</p>
      <p>3</p>
      <p>4</p>
      <p>5</p>
      <p>6</p>
      <p>7</p>
      <p>8</p>
      <p>9</p>
      <p>10</p>
    </div>
    <div class="xDiv">
      <p class="center-text">Output</p>
      <div class="turninput">
        <button ng-click="decrementValue('p2x', 0)" ng-disabled="turn > 1" type="button" class="btn btn-default btn-left btn-lg">
          <span class="glyphicon glyphicon-minus glyphicon-large" aria-hidden="true"></span>
        </button>
        <p class="turn-value">{{ p2x[0] }}</p>
        <button ng-click="incrementValue('p2x', 0)" ng-disabled="turn > 1" type="button" class="btn btn-default btn-right btn-lg">
          <span class="glyphicon glyphicon-plus glyphicon-large" aria-hidden="true"></span>
        </button>
      </div>

      <div class="turninput">
        <button ng-click="decrementValue('p2x', 1)" ng-disabled="turn > 2" type="button" class="btn btn-default btn-left btn-lg">
          <span class="glyphicon glyphicon-minus glyphicon-large" aria-hidden="true"></span>
        </button>
        <p class="turn-value">{{ p2x[1] }}</p>
        <button ng-click="incrementValue('p2x', 1)" ng-disabled="turn > 2" type="button" class="btn btn-default btn-right btn-lg">
          <span class="glyphicon glyphicon-plus glyphicon-large" aria-hidden="true"></span>
        </button>
      </div>

      <div class="turninput">
        <button ng-click="decrementValue('p2x', 2)" ng-disabled="turn > 3" type="button" class="btn btn-default btn-left btn-lg">
          <span class="glyphicon glyphicon-minus glyphicon-large" aria-hidden="true"></span>
        </button>
        <p class="turn-value">{{ p2x[2] }}</p>
        <button ng-click="incrementValue('p2x', 2)" ng-disabled="turn > 3" type="button" class="btn btn-default btn-right btn-lg">
          <span class="glyphicon glyphicon-plus glyphicon-large" aria-hidden="true"></span>
        </button>
      </div>

      <div class="turninput">
        <button ng-click="decrementValue('p2x', 3)" ng-disabled="turn > 4" type="button" class="btn btn-default btn-left btn-lg">
          <span class="glyphicon glyphicon-minus glyphicon-large" aria-hidden="true"></span>
        </button>
        <p class="turn-value">{{ p2x[3] }}</p>
        <button ng-click="incrementValue('p2x', 3)" ng-disabled="turn > 4" type="button" class="btn btn-default btn-right btn-lg">
          <span class="glyphicon glyphicon-plus glyphicon-large" aria-hidden="true"></span>
        </button>
      </div>

      <div class="turninput">
        <button ng-click="decrementValue('p2x', 4)" ng-disabled="turn > 5" type="button" class="btn btn-default btn-left btn-lg">
          <span class="glyphicon glyphicon-minus glyphicon-large" aria-hidden="true"></span>
        </button>
        <p class="turn-value">{{ p2x[4] }}</p>
        <button ng-click="incrementValue('p2x', 4)" ng-disabled="turn > 5" type="button" class="btn btn-default btn-right btn-lg">
          <span class="glyphicon glyphicon-plus glyphicon-large" aria-hidden="true"></span>
        </button>
      </div>

      <div class="turninput">
        <button ng-click="decrementValue('p2x', 5)" ng-disabled="gameover" type="button" class="btn btn-default btn-left btn-lg">
          <span class="glyphicon glyphicon-minus glyphicon-large" aria-hidden="true"></span>
        </button>
        <p class="turn-value">{{ p2x[5] }}</p>
        <button ng-click="incrementValue('p2x', 5)" ng-disabled="gameover" type="button" class="btn btn-default btn-right btn-lg">
          <span class="glyphicon glyphicon-plus glyphicon-large" aria-hidden="true"></span>
        </button>
      </div>

            <div class="turninput">
        <button ng-click="decrementValue('p2x', 6)" ng-disabled="turn > 1" type="button" class="btn btn-default btn-left btn-lg">
          <span class="glyphicon glyphicon-minus glyphicon-large" aria-hidden="true"></span>
        </button>
        <p class="turn-value">{{ p2x[6] }}</p>
        <button ng-click="incrementValue('p2x', 6)" ng-disabled="turn > 1" type="button" class="btn btn-default btn-right btn-lg">
          <span class="glyphicon glyphicon-plus glyphicon-large" aria-hidden="true"></span>
        </button>
      </div>

            <div class="turninput">
        <button ng-click="decrementValue('p2x', 7)" ng-disabled="turn > 1" type="button" class="btn btn-default btn-left btn-lg">
          <span class="glyphicon glyphicon-minus glyphicon-large" aria-hidden="true"></span>
        </button>
        <p class="turn-value">{{ p2x[7] }}</p>
        <button ng-click="incrementValue('p2x', 7)" ng-disabled="turn > 1" type="button" class="btn btn-default btn-right btn-lg">
          <span class="glyphicon glyphicon-plus glyphicon-large" aria-hidden="true"></span>
        </button>
      </div>

      <div class="turninput">
        <button ng-click="decrementValue('p2x', 8)" ng-disabled="turn > 1" type="button" class="btn btn-default btn-left btn-lg">
          <span class="glyphicon glyphicon-minus glyphicon-large" aria-hidden="true"></span>
        </button>
        <p class="turn-value">{{ p2x[8] }}</p>
        <button ng-click="incrementValue('p2x', 8)" ng-disabled="turn > 1" type="button" class="btn btn-default btn-right btn-lg">
          <span class="glyphicon glyphicon-plus glyphicon-large" aria-hidden="true"></span>
        </button>
      </div>

      <div class="turninput">
        <button ng-click="decrementValue('p2x', 9)" ng-disabled="turn > 1" type="button" class="btn btn-default btn-left btn-lg">
          <span class="glyphicon glyphicon-minus glyphicon-large" aria-hidden="true"></span>
        </button>
        <p class="turn-value">{{ p2x[9] }}</p>
        <button ng-click="incrementValue('p2x', 9)" ng-disabled="turn > 1" type="button" class="btn btn-default btn-right btn-lg">
          <span class="glyphicon glyphicon-plus glyphicon-large" aria-hidden="true"></span>
        </button>
      </div>
    </div>
    <div class="iDiv">
      <p class="center-text">Investment</p>
      <div class="turninput">
        <button ng-click="decrementValue('p2i', 0)" ng-disabled="turn > 1" type="button" class="btn btn-default btn-left btn-lg">
          <span class="glyphicon glyphicon-minus glyphicon-large" aria-hidden="true"></span>
        </button>
        <p class="turn-value">{{ p2i[0].toPrecision(3) }}</p>
        <button ng-click="incrementValue('p2i', 0)" ng-disabled="turn > 1" type="button" class="btn btn-default btn-right btn-lg">
          <span class="glyphicon glyphicon-plus glyphicon-large" aria-hidden="true"></span>
        </button>
      </div>

      <div class="turninput">
        <button ng-click="decrementValue('p2i', 1)" ng-disabled="turn > 2" type="button" class="btn btn-default btn-left btn-lg">
          <span class="glyphicon glyphicon-minus glyphicon-large" aria-hidden="true"></span>
        </button>
        <p class="turn-value">{{ p2i[1].toPrecision(3) }}</p>
        <button ng-click="incrementValue('p2i', 1)" ng-disabled="turn > 2" type="button" class="btn btn-default btn-right btn-lg">
          <span class="glyphicon glyphicon-plus glyphicon-large" aria-hidden="true"></span>
        </button>
      </div>

      <div class="turninput">
        <button ng-click="decrementValue('p2i', 2)" ng-disabled="turn > 3" type="button" class="btn btn-default btn-left btn-lg">
          <span class="glyphicon glyphicon-minus glyphicon-large" aria-hidden="true"></span>
        </button>
        <p class="turn-value">{{ p2i[2].toPrecision(3) }}</p>
        <button ng-click="incrementValue('p2i', 2)" ng-disabled="turn > 3" type="button" class="btn btn-default btn-right btn-lg">
          <span class="glyphicon glyphicon-plus glyphicon-large" aria-hidden="true"></span>
        </button>
      </div>

      <div class="turninput">
        <button ng-click="decrementValue('p2i', 3)" ng-disabled="turn > 4" type="button" class="btn btn-default btn-left btn-lg">
          <span class="glyphicon glyphicon-minus glyphicon-large" aria-hidden="true"></span>
        </button>
        <p class="turn-value">{{ p2i[3].toPrecision(3) }}</p>
        <button ng-click="incrementValue('p2i', 3)" ng-disabled="turn > 4" type="button" class="btn btn-default btn-right btn-lg">
          <span class="glyphicon glyphicon-plus glyphicon-large" aria-hidden="true"></span>
        </button>
      </div>

      <div class="turninput">
        <button ng-click="decrementValue('p2i', 4)" ng-disabled="turn > 5" type="button" class="btn btn-default btn-left btn-lg">
          <span class="glyphicon glyphicon-minus glyphicon-large" aria-hidden="true"></span>
        </button>
        <p class="turn-value">{{ p2i[4].toPrecision(3) }}</p>
        <button ng-click="incrementValue('p2i', 4)" ng-disabled="turn > 5" type="button" class="btn btn-default btn-right btn-lg">
          <span class="glyphicon glyphicon-plus glyphicon-large" aria-hidden="true"></span>
        </button>
      </div>

      <div class="turninput">
        <button ng-click="decrementValue('p2i', 5)" ng-disabled="gameover" type="button" class="btn btn-default btn-left btn-lg">
          <span class="glyphicon glyphicon-minus glyphicon-large" aria-hidden="true"></span>
        </button>
        <p class="turn-value">{{ p2i[5].toPrecision(3) }}</p>
        <button ng-click="incrementValue('p2i', 5)" ng-disabled="gameover" type="button" class="btn btn-default btn-right btn-lg">
          <span class="glyphicon glyphicon-plus glyphicon-large" aria-hidden="true"></span>
        </button>
      </div>

      <div class="turninput">
        <button ng-click="decrementValue('p2i', 6)" ng-disabled="turn > 1" type="button" class="btn btn-default btn-left btn-lg">
          <span class="glyphicon glyphicon-minus glyphicon-large" aria-hidden="true"></span>
        </button>
        <p class="turn-value">{{ p2i[6].toPrecision(3) }}</p>
        <button ng-click="incrementValue('p2i', 6)" ng-disabled="turn > 1" type="button" class="btn btn-default btn-right btn-lg">
          <span class="glyphicon glyphicon-plus glyphicon-large" aria-hidden="true"></span>
        </button>
      </div>

      <div class="turninput">
        <button ng-click="decrementValue('p2i', 7)" ng-disabled="turn > 1" type="button" class="btn btn-default btn-left btn-lg">
          <span class="glyphicon glyphicon-minus glyphicon-large" aria-hidden="true"></span>
        </button>
        <p class="turn-value">{{ p2i[7].toPrecision(3) }}</p>
        <button ng-click="incrementValue('p2i', 7)" ng-disabled="turn > 1" type="button" class="btn btn-default btn-right btn-lg">
          <span class="glyphicon glyphicon-plus glyphicon-large" aria-hidden="true"></span>
        </button>
      </div>

      <div class="turninput">
        <button ng-click="decrementValue('p2i', 8)" ng-disabled="turn > 1" type="button" class="btn btn-default btn-left btn-lg">
          <span class="glyphicon glyphicon-minus glyphicon-large" aria-hidden="true"></span>
        </button>
        <p class="turn-value">{{ p2i[8].toPrecision(3) }}</p>
        <button ng-click="incrementValue('p2i', 8)" ng-disabled="turn > 1" type="button" class="btn btn-default btn-right btn-lg">
          <span class="glyphicon glyphicon-plus glyphicon-large" aria-hidden="true"></span>
        </button>
      </div>

      <div class="turninput">
        <button ng-click="decrementValue('p2i', 9)" ng-disabled="turn > 1" type="button" class="btn btn-default btn-left btn-lg">
          <span class="glyphicon glyphicon-minus glyphicon-large" aria-hidden="true"></span>
        </button>
        <p class="turn-value">{{ p2i[9].toPrecision(3) }}</p>
        <button ng-click="incrementValue('p2i', 9)" ng-disabled="turn > 1" type="button" class="btn btn-default btn-right btn-lg">
          <span class="glyphicon glyphicon-plus glyphicon-large" aria-hidden="true"></span>
        </button>
      </div>
    </div>
</div>

<br>
<div class="container">
  <h4 class="center-text">RESULTS MONITOR</h4>
  <table class="table table-hover table-bordered">
    <thead>
      <tr>
        <th></th>
        <th colspan="2">Sales</th>
        <th rowspan="2">Total Damage</th>
        <th colspan="2">Infrastructure</th>
        <th colspan="2">Earnings</th>
        <th colspan="2">Total Earnings</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Period</td>
        <td>YOU</td>
        <td>Competition</td>
        <td></td>
        <td>YOU</td>
        <td>Competition</td>
        <td>YOU</td>
        <td>Competition</td>
        <td>YOU</td>
        <td>Competition</td>
      </tr>

      <tr ng-repeat="t in turns">
        <td>{{ t }}</td>
        <td>$ {{ p1sales[t - 1].toPrecision(4) }}</td>
        <td>$ {{ p2sales[t- 1].toPrecision(4) }}</td>
        <td>$ {{ dmg[t - 1].toPrecision(4) }}</td>
        <td>$ {{ p1inf[t - 1].toPrecision(4) }}</td>
        <td>$ {{ p2inf[t - 1].toPrecision(4) }}</td>
        <td>$ {{ p1earns[t - 1].profit.toPrecision(4) }}</td>
        <td>$ {{ p2earns[t - 1].profit.toPrecision(4) }}</td>
        <td>$ {{ p1totalearns[t -1].toPrecision(4) }}</td>
        <td>$ {{ p2totalearns[t -1].toPrecision(4) }}</td>
      </tr>

      <tr ng-repeat="result in results | orderBy:'-turn'">
        <td>{{ result.turn }}</td>
        <td>$ {{ p1sales[$index].toPrecision(4) }}</td>
        <td>$ {{ p2sales[$index].toPrecision(4) }}</td>
        <td>$ {{ dmg[$index].toPrecision(4) }}</td>
        <td>$ {{ p1inf[$index].toPrecision(4) }}</td>
        <td>$ {{ p2inf[$index].toPrecision(4) }}</td>
        <td>$ {{ p1earns[$index].profit.toPrecision(4) }}</td>
        <td>$ {{ p2earns[$index].profit.toPrecision(4) }}</td>
        <td>$ {{ p1totalearns[$index].toPrecision(4) }}</td>
        <td>$ {{ p2totalearns[$index].toPrecision(4) }}</td>
      </tr>
    </tbody>
  </table>

  <br>
  <span class="hidden">
  <h4>Turn Input</h4>
  <p>What values would you like to use for this turn?</p>
  <form class="form-inline">
    <div class="form-group">
      <label>Output</label>
      <input ng-model="playeroutput" ng-disabled="waiting"  type="number" class="form-control input-lg">
    </div>
    <div class="form-group">
      <label>Investment</label>
      <input ng-model="playerinvestment" ng-disabled="waiting" type="number" class="form-control input-lg">
    </div>
    <div class="form-group">
      <button ng-disabled="waiting" type="submit" class="btn btn-primary btn-lg" ng-click="submitNextMove()">SUBMIT</button>
    </div>
  </form>
  </span>
</div>

<br>

<div ng-show="waiting && !gameover" class="alert alert-danger">
  <p class="center-text"><b>Waiting for the competition to make a move</b></p>
</div>

<div ng-hide="!waiting" class="alert alert-success">
  <p class="center-text"><b>You may now make a move!</b></p>
</div>

<div ng-show="gameover" class="alert alert-info">
  <p class="center-text"><b>The game is over! Please review the final decisions above.</b></p>
</div>

<button ng-click="waitingroom()" ng-show="gameover" class="btn btn-lg center-block btn-primary">Continue to Next Round</button>
