.full-page-img {
  width: 100%;
}

.big-text {
  font-size: 25px;
}

.center-text {
  text-align: center;
}

input[type="checkbox"], input[type="radio"] {
  position: relative;
  top: 5px;
  width: 24px;
  height: 24px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
}

.line-1 {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.line-2 {
  fill: none;
  stroke: red;
  stroke-width: 1.5px;
}


input[type="range"], .slider {
  -webkit-appearance: none;
  background-color: #eee;
  border: 1px solid #ccc;
  height: 40px;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  position: absolute;
  width: 200px !important;

}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  position: relative;
  top: 0px;
  z-index: 1;
  width: 20px;
  height: 33px;
  cursor: pointer;
/*  -webkit-box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.6);
  -moz-box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.6);
  box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.6);*/
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#337ab7), color-stop(50%,#337ab7), color-stop(51%,#337ab7), color-stop(100%,#337ab7));
}

.legend rect {
  fill:white;
  stroke:black;
  opacity:0.8;
}

.chart {
  display: inline-block;
  width: 49%;
  vertical-align: top;
}

.playerinputs {
  display: inline-block;
  width: 25%;
}

.playerinputs h4 {
  text-align: center;
}

.periodDiv {
  display: inline-block;
  width: 13%;
  vertical-align: top;
  padding-left: 5px;
  font-size: 20px;
}

.periodDiv p {
  margin-top:7px;
  text-align: center;
}

.xDiv {
  display: inline-block;
  width: 42%;
  vertical-align: top;
  font-size: 20px;
}

.iDiv {
  display: inline-block;
  width: 42%;
  vertical-align: top;
  font-size: 20px;
}

.btn-left {
  display: inline-block;
  width: 20%;
  padding-bottom: 2px;
  padding-right: 4px;
  padding-top: 6px;
  padding-left: 3px;
  margin-left: 20%;
}

.turn-value {
  display: inline-block;
  width: 20%;
  font-size: 20px;
  margin-right: 10px
}

.btn-right {
  display: inline-block;
  width: 20%;
  padding-bottom: 2px;
  padding-right: 4px;
  padding-top: 6px;
  padding-left: 5px;
}

body {
  margin-bottom: 20px;
}

.form-group {
  margin-left: 50px;
}

