<div class="head-banner"></div>

<div class="container">
  <div class="page-header">
    <h1>Admin Panel <small class="pull-right">{{ user.emails[0].value }}</small></h1>
  </div>

  <!-- Reporting period  -->
  <button type="button" class="btn btn-success" ng-click="toggle_show_reporting()">{{ add_report_string }}</button>

  <section class="reporting-period-sec" ng-show="show_reporting">
    <br>

    <form name="reportingperiod" ng-submit="start_reporting()" novalidate>
      <p>YEAR-MONTH-DAY (2015-05-07)</p>
      <div class="form-group col-md-6">
        <label>Start Date</label>
        <input class="ng-invalid ng-touched form-control" type="date" class="form-control" ng-model="newreport.startDate" required>
      </div>

      <div class="form-group col-md-6">
        <label>End Date</label>
        <input class="ng-invalid ng-touched form-control" type="date" class="form-control" ng-model="newreport.endDate" required>
      </div>

      <button ng-disabled="reportingperiod.$invalid" type="Submit" class="btn btn-primary" id="submitReporting">Add</button>
    </form>
  </section>

  <hr>

  <!-- Reporting Period List -->
  <button type="button" class="btn btn-success" ng-click="toggle_show_periods()">{{ show_periods_string }}</button>
  <section class="report-periods" ng-show="show_periods">
    <br>

    <ul>
      <li ng-repeat="period in periods"><a href="admin#/p/{{period._id}}">{{ period.startDate }} - {{ period.endDate }}</a> <i class="fa fa-times" ng-click="delete_period($index)"></i></li>
    </ul>
  </section>

  <hr>
  <!-- User list -->
  <button type="button" class="btn btn-success" ng-click="toggle_show_users()">{{ show_users_string }} Users</button>
  <section class="user-list" ng-show="show_users">
    <br>
    <ul>
      <li ng-repeat="user in users"><a href="admin#/u/{{ user._id }}">{{ user.firstname }} {{user.lastname}} - {{ user.number }}</a> <i class="fa fa-times" ng-click="delete_user($index)"></i></li>
    </ul>
  </section>

  <hr>

  <!-- Add User  -->
  <button type="button" class="btn btn-success" ng-click="toggle_show_add_cell()">{{ show_add_cell_string }}</button>

  <section class="add-user" ng-show="show_add_cell">
    <br>
    <form name="useraddition" ng-submit="add_user()" novalidate>
      <div class="form-group">
        <label>First Name:</label>
        <input class="ng-invalid ng-touched form-control" ng-model="newuser.firstname" type="text" id="firstname" required>
      </div>

      <div class="form-group">
        <label>Last Name:</label>
        <input class="ng-invalid ng-touched form-control" ng-model="newuser.lastname" type="text" id="lastname" required>
      </div>

      <div class="form-group">
        <label>Salutation:</label>
        <input class="ng-invalid ng-touched form-control" ng-model="newuser.salutation" type="text" id="salutation" required>
      </div>

      <div class="form-group">
        <label>Cell Number (12345678900):</label>
        <input class="ng-invalid ng-touched form-control" maxlength="11" minlength="11" ng-model="newuser.number" type="number" id="cellnumber" required>
      </div>

      <div class="form-group">
        <label>Unique ID Number:</label>
        <input class="ng-invalid ng-touched form-control" maxlength="4" minlength="4" ng-model="newuser.farmerid" type="number" id="farmerIdInput" required>
      </div>

      <div class="form-group">
        <label>Water Meter Number:</label>
        <input class="ng-invalid ng-touched form-control" minlength="1" ng-model="newuser.watermeterNumber" type="text" id="watermeterNumber" required>
      </div>

      <div class="form-group">
        <label>Contract Type:</label>
        <input class="ng-invalid ng-touched form-control" ng-model="newuser.contractType" type="text" id="contractType" required>
      </div>

      <button ng-disabled="useraddition.$invalid" type="Submit" class="btn btn-primary" id="submitUser">Add User</button>
    </form>
  </section>

  <hr>

  <!-- Broadcast message -->
  <button ng-click="toggle_broadcast()" class="btn btn-success" type="button">{{ broadcast_btn_string }}</button>
  <section class="send-message" ng-show="show_broadcast">
    <br>
    <form name="broadcast" ng-submit="broadcast_message()" novalidate>
      <div class="form-group">
        <label>Message:</label>
        <input class="ng-invalid ng-touched form-control" maxlength="120" ng-model="newmessage.message" type="text" id="newmessage" required>
      </div>

      <button ng-disabled="broadcast.$invalid" type="Submit" class="btn btn-primary" id="submitBroadcast">Send Message</button>
    </form>
  </section>
</div>
