<div class="head-banner"></div>

<div class="container">
  <div class="page-header">
    <h1>{{ user.number }}</h1>
  </div>
  <a href="/admin#/"><button class="btn btn-success">Back</button></a>

  <br>
  <br>

  <div class="user-field-input">
    <form class="form-inline">
      <input ng-disabled="!updating" class="form-control input-lg" type="text" ng-model="user.salutation">
      <input ng-disabled="!updating" class="form-control input-lg" type="text" ng-model="user.lastname">
      ,
      <input ng-disabled="!updating" class="form-control input-lg" type="text" ng-model="user.firstname">
    </form>
  </div>

  <br>

  <div class="user-field-input">
    <form class="form-inline">
      <label>Invitation Number: </label>
      <input ng-disabled="!updating" class="form-control input-lg" type="number" ng-model="user.invitationid">
    </form>
  </div>

  <br>

  <div class="user-field-input">
    <form class="form-inline">
      <label>Email: </label>
      <input ng-disabled="!updating" class="form-control input-lg" type="text" ng-model="user.email">
    </form>
  </div>

  <br>

  <div class="user-field-input">
    <form class="form-inline">
      <label>Contract Type:</label>
      <input ng-disabled="!updating" class="form-control input-lg" type="text" ng-model="user.contractType">
    </form>
  </div>

  <br>

  <div class="user-field-input">
    <form class="form-inline">
      <label>Payment Method</label>
      <input ng-disabled="!updating" class="form-control input-lg" type="text" ng-model="user.payment">
    </form>
  </div>

  <br>

  <div class="user-field-input">
    <form class="form-inline">
      <label>Money in Bank: $</label>
      <input ng-disabled="!updating" class="form-control input-lg" type="number" ng-model="user.bank">
    </form>
  </div>

  <br>

  <button ng-show="!updating" class="btn btn-primary btn-lg" ng-click="updating=true">Update User</button>
  <button ng-show="updating" class="btn btn-success btn-lg" ng-click="saveUser()">Save User</button>

  <hr>

  <div class="col-md-6">
    <h4>Sent Messages:</h4>
    <p ng-repeat="message in messages">{{ message.body }} - {{ message.date }}</p>
  </div>

  <div class="col-md-6">
    <h4>Water Meters:</h4>

    <ul>
      <li ng-repeat="meter in meters"><a href="/admin#/w/{{ meter._id }}">{{ meter.serialnumber }}</a></li>
    </ul>

  </div>
</div>
