<div class="head-banner"></div>

<div class="container">
  <div class="page-header">
    <h1>{{ user.number }}</h1>
  </div>
  <a href="/admin#/"><button class="btn btn-success">Back</button></a>

  <br>
  <br>

  <div class="user-field-input">
    <form class="form-inline">
      <input ng-disabled="!updating" class="form-control input-lg" type="text" ng-model="user.salutation">
      <input ng-disabled="!updating" class="form-control input-lg" type="text" ng-model="user.lastname">
      ,
      <input ng-disabled="!updating" class="form-control input-lg" type="text" ng-model="user.firstname">
    </form>
  </div>

  <br>

  <div class="user-field-input">
    <form class="form-inline">
      <label>ID Number: </label>
      <input ng-disabled="!updating" class="form-control input-lg" type="number" ng-model="user.farmerid">
    </form>
  </div>

  <br>

  <div class="user-field-input">
    <form class="form-inline">
      <label>Contract Type:</label>
      <input ng-disabled="!updating" class="form-control input-lg" type="text" ng-model="user.contractType">
    </form>
  </div>

  <br>

  <div class="user-field-input">
    <form class="form-inline">
      <label>Money in Bank: $</label>
      <input ng-disabled="!updating" class="form-control input-lg" type="number" ng-model="user.bank">
    </form>
  </div>

  <br>

  <div class="user-field-input">
    <form class="form-inline">
      <label>Water Meter ID:</label>
      <input ng-disabled="!updating" class="form-control input-lg" type="text" ng-model="user.watermeterNumber">
  </div>

  <button ng-show="!updating" class="btn btn-primary btn-lg" ng-click="updating=true">Update User</button>
  <button ng-show="updating" class="btn btn-success btn-lg" ng-click="saveUser()">Save User</button>

  <hr>

  <div class="col-md-6">
    <h4>Sent Messages:</h4>
    <p ng-repeat="message in messages">{{ message.body }} - {{ message.date }}</p>
  </div>

  <div class="col-md-6">
    <h4>Periods Submitted:</h4>

    <ul>
      <li ng-repeat="submitted in user.submittedPeriods"><a href="/admin#/p/{{ submitted }}">{{ submitted }}</a></li>
    </ul>

    <h4>Missed Periods:</h4>

    <ul>
      <li ng-repeat="missed in user.missedPeriods"><a href="/admin#/p/{{ missed }}">{{ missed }}</a></li>
    </ul>
  </div>
</div>
